@section CssFiles
{
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="/Content/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/Content/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/Content/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/Content/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/Content/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->

}

@section JsFiles
{


}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-paper-plane font-yellow-casablanca"></i>
                    <span class="caption-subject bold font-yellow-casablanca uppercase"> Saha </span>
                    <span class="caption-helper">kısa yollar..</span>
                </div>
            </div>
            <div class="portlet-body">
                <!-- BEGIN BLOCK BUTTONS PORTLET-->

                <div class="tiles">

                    <a href="/Report/Service" class="icon-btn col-lg-2">
                        <i class="fa fa-pencil-square-o "></i>
                        <div> Servis Raporu Oluştur </div>
                        <span class="badge badge-danger"> 2 </span>
                    </a>
                    <a href="/Report/Daily" class="icon-btn col-lg-2">
                        <i class="fa icon-pin"></i>
                        <div> Günlük Rapor Gönder </div>
                        <span class="badge badge-success"> 4 </span>
                    </a>
                    <a href="javascript:;" class="icon-btn col-lg-2">
                        <i class="fa fa-shopping-cart"></i>
                        <div> Sipariş Aç </div>
                    </a>
                    <a href="javascript:;" class="icon-btn col-lg-2">
                        <i class="fa fa-calendar"></i>
                        <div> İş Programı </div>
                        <span class="badge badge-success"> 4 </span>
                    </a>
                    <a href="javascript:;" class="icon-btn col-lg-2">
                        <i class="fa fa-calendar-plus-o"></i>
                        <div> İş Program Talebi </div>
                        <span class="badge badge-info"> 12 </span>
                    </a><br />
                    <a href="javascript:;" class="icon-btn col-lg-2">
                        <i class="fa fa-archive"></i>
                        <div> Geçmiş Servis Raporları </div>
                        <span class="badge badge-danger"> 3 </span>
                    </a>
                    <a href="javascript:;" class="icon-btn col-lg-2">
                        <i class="fa fa-car"></i>
                        <div> Araç Talep </div>
                    </a>
                    <a href="javascript:;" class="icon-btn col-lg-2">
                        <i class="fa fa-calendar"></i>
                        <div> Araç Programı </div>
                    </a>
                    <a href="javascript:;" class="icon-btn col-lg-2">
                        <i class="fa fa-map-marker">
                            <i></i>
                        </i>
                        <div> Araç Yerleri </div>
                    </a>
                    <a href="javascript:;" class="icon-btn col-lg-2">
                        <i class="fa fa-wrench"></i>
                        <div> Devam Eden Projeler </div>
                        <span class="badge badge-info"> 21 </span>
                    </a>
                </div>




            </div>
        </div>
    </div>
</div>