@section CssFiles
{

}
@section JsFiles
{

}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-shuffle font-green-sharp"></i> 
            <span class="caption-subject font-green-sharp sbold">Menüler - Kısayol</span> <br />
            <span class="caption-helper">İlk açılışta yönlendirildiğimiz ve bazı sık kullanılanlara doğrudan erişmek için butonların bulunduğu sayfadır.</span>
        </div>
        @*<div class="actions">
                <div class="btn-group">
                    <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        Actions
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;"> Option 1</a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="javascript:;">Option 2</a>
                        </li>
                        <li>
                            <a href="javascript:;">Option 3</a>
                        </li>
                        <li>
                            <a href="javascript:;">Option 4</a>
                        </li>
                    </ul>
                </div>
            </div>*@
    </div>
    <div class="portlet-body">
        <div class="tiles">
            <a href="/Schedule/Index">
                <div class="tile bg-red-sunglo">
                    <div class="tile-body">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> İş Programı </div>
                        @*<div class="number"> 12 </div>*@
                    </div>
                </div>
            </a>
            <a href="/Field/Index">
                <div class="tile bg-yellow-saffron">
                    @*<div class="corner"> </div>*@
                    <div class="tile-body">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name">Saha  </div>
                        @*<div class="number"> 452 </div>*@
                    </div>
                </div>
            </a>
            @*<a href="/Office/Index">
                    <div class="tile bg-purple-studio">
                        <div class="tile-body">
                            <i class="fa fa-black-tie"></i>
                        </div>
                        <div class="tile-object">
                            <div class="name"> Ofis </div>
                            @*<div class="number"> 121 </div>
                        </div>
                    </div>
                </a>*@

            <a href="/Report/History">
                <div class="tile bg-green-meadow">
                    <div class="tile-body">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Günlük Rapor </div>
                        @*<div class="number"> 12 </div>*@
                    </div>
                </div>
            </a>
            <a href="/Order/Index">
                <div class="tile bg-red-intense">
                    <div class="tile-body">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Malzeme Siparişleri </div>
                        @*<div class="number"> 12 Jan </div>*@
                    </div>
                </div>
            </a>
            <a href="/Stok/Index">
                <div class="tile bg-green">
                    <div class="tile-body">
                        <i class="fa icon-social-dropbox"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Stok </div>
                        <div class="number"> </div>
                    </div>
                </div>
            </a>
            <a href="/Car/History">
                <div class="tile bg-blue-steel">
                    <div class="tile-body">
                        <i class="fa fa-car"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Araçlar </div>
                        @*<div class="number"> 124 </div>*@
                    </div>
                </div>
            </a>


            @*<div class="tile bg-yellow-lemon ">
                    <div class="corner"> </div>
                    <div class="check"> </div>
                    <div class="tile-body">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Sistem </div>
                    </div>
                </div>*@

            <a href="/Project/Index">
                <div class="tile bg-red-sunglo">
                    <div class="tile-body">
                        <i class="fa fa-industry"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Projeler </div>
                        @*<div class="number"> 34 </div>*@
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>